randomdata.csv
randomdata.csv
datalets/datalet2.csv
datalets/datalet3.csv
datalets/datalet4.csv
datalets/datalet5.csv
datalets/datalet6.csv
datalets/datalet7.csv
datalets/datalet8.csv
datalets/datalet9.csv
datalets/datalet3.csv
dataletswgv/datalet2.csv
dataletswgv/datalet3.csv
dataletswgv/datalet4.csv
dataletswgv/datalet6.csv
dataletswgv/datalet5.csv
dataletswgv/datalet8.csv
dataletswgv/datalet9.csv
dataletswgv/datalet7.csv
Ethdata/randomdataegv.csv
Ethdata/randomdataewgv.csv
Ethdata/randomdatawgv.csv
