randomdata.csv
randomdata.csv
dataletswgv/datalet2.csv
dataletswgv/datalet3.csv
dataletswgv/datalet4.csv
dataletswgv/datalet6.csv
dataletswgv/datalet5.csv
dataletswgv/datalet8.csv
dataletswgv/datalet9.csv
dataletswgv/datalet7.csv
Ethdata/randomdataegv.csv
Ethdata/randomdataewgv.csv
Ethdata/randomdatawgv.csv
dataletswgv/datalet2.csv
dataletswgv/datalet3.csv
dataletswgv/datalet4.csv
dataletswgv/datalet9.csv
dataletswgv/datalet5.csv
dataletswgv/datalet6.csv
dataletswgv/datalet7.csv
dataletswgv/datalet8.csv
Ethdata/latest_blocks.json
Ethdata/temp_df.csv
Ethdata/finaldf.csv
Ethdata/final_df.csv
datalets/datalet1000.csv
Ethdata/MEVcategorywgv1.csv
Ethdata/MEVcategorywgv.csv
dataletswgv/datalet700.csv
dataletswgv/datalet400.csv
dataletswgv/datalet100.csv
dataletswgv/datalet99.csv
dataletswgv/datalet8.csv
dataletswgv/datalet9.csv
dataletswgv/datalet7.csv
dataletswgv/datalet6.csv
dataletswgv/datalet5.csv
dataletswgv/datalet3.csv
dataletswgv/datalet2.csv
dataletswgv/datalet4.csv
dataletswgv/datalet2.csv
dataletswgv/datalet3.csv
dataletswgv/datalet4.csv
dataletswgv/datalet5.csv
dataletswgv/datalet6.csv
dataletswgv/datalet7.csv
dataletswgv/datalet8.csv
dataletswgv/datalet9.csv
Ethdata/MEVcategory.csv
Ethdata/MEVcategorywgandprice.csv
Ethdata/MEVcategorywg.csv
datalets/datalet2.csv
datalets/datalet3.csv
datalets/datalet4.csv
datalets/datalet5.csv
datalets/datalet6.csv
datalets/datalet7.csv
datalets/datalet8.csv
datalets/datalet9.csv
datalets/datalet10.csv
Ethdata/df_test.csv
